/* Footer */
.footer {
   @extend %flex;
    position:static;
    bottom: 0;
    width: 100%;
    height: 100px;
}
.fot{
    margin-right: 10px;

    &:hover{   
        @include prefijos(scale(1.5)); 
    }
}

/* Fin Footer */